@import 'Variables.scss';

.Deck {
	margin: 1rem;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;

	.cards {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}

	.deck-toolbar {
		display: flex;
		justify-content: space-evenly;
		width: 100%;

		font-size: 2rem;

		& > * {
			cursor: pointer;
		}
	}

	.deck-header {
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		align-items: baseline;
	}

	.input-deck-name {
		background-color: transparent;
		border: none;
		color: #fff;

		font-size: 2rem;

		font-family: $super-cell-font;
		padding: 0.5rem;

		&::placeholder {
			color: #fff;
			opacity: 0.8;
		}

		&:focus {
			outline: none;
			background-color: rgba(0, 0, 0, 0.2);
		}
	}
}
