@import 'Variables.scss';

form {
	display: flex;
	flex-direction: column;
	align-items: center;

	& > * {
		margin: 1rem;
	}

	input {
		background: none;
		border-style: none;

		color: #fff;
		font-size: 2rem;
		text-align: center;
		width: 60%;
		border-bottom: 1px solid #fff;
		padding: 1.4rem;

		font-family: $super-cell-font;

		&::placeholder {
			color: #fff;
			opacity: 0.8;
			font-size: 1.6rem;
		}

		&:focus {
			outline: none;
		}
	}
}
