.App {
	padding: 2rem;
	min-height: 100vh;
	text-align: center;
	color: #fff;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

footer {
	font-family: Arial, Helvetica, sans-serif;
	opacity: 0.75;

	a {
		color: #fff;
	}

	a:hover {
		color: fuchsia;
	}
}
