@import 'Variables.scss';

body {
	margin: 0;
	height: calc(100vh - 2rem);
	width: 100vw;

	font-family: $super-cell-font;

	background: linear-gradient(#00d1ff, rgb(19, 81, 135));
	background-image: radial-gradient(#00d1ff, rgb(19, 81, 135));

	overflow-x: hidden;

	#root {
		height: 100%;
	}
}

.TransitionRoute {
	min-height: calc(100vh - 2rem);
	width: 100vw;
	text-align: center;
	color: #fff;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	overflow: hidden;

	position: absolute;

	.BackgroundImage {
		position: absolute;
		opacity: 0.6;
		z-index: -10;
		right: 0;
		transform: translateX(40%);
		height: 80%;
		max-height: 512px;
	}
}

header {
	margin: 2rem;
}

main {
	// display: flex;
	//flex-direction: column;
	// justify-content: space-evenly;

	flex: 1;
	position: relative;

	overflow: auto;
}

footer {
	font-size: 0.8rem;
	font-family: Arial, Helvetica, sans-serif;

	a {
		color: #fff;
	}

	a:hover {
		color: fuchsia;
	}
}

::-webkit-scrollbar {
	width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0);
	transition: all 1s;
	border-radius: 1rem;
}

::-webkit-scrollbar-track:hover {
	background: rgba(0, 0, 0, 0.2);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.4);
	transition: all 1s;
	border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 1);
}
