@font-face {
	font-family: 'SuperCell';
	src: url('../assets/Supercell-magic-webfont.x-font-ttf');
}

$super-cell-font: 'SuperCell', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
	'Helvetica Neue', sans-serif;
